.image 
    {
        border: 1px solid rgb(22, 22, 24);
        border-radius: 4px;
        padding: 10px;
        width: 350px;
        height: 250px;
        display: block;
        margin-left: auto;
     margin-right: auto;        
      }
      
     .image:hover {
        box-shadow: 4px 4px 2px 1px rgba(56, 54, 184, 0.5);
      }
      body{
          background-color: whitesmoke;
      }